<!DOCTYPE html>
<style>
    .ms-n5 {
    margin-left: -40px;
    }

    .bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }
    .tab {
        tab-size: 10;
    }
</style>
<html>
    <head>
        <title>Movie Site</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    </head>
    <body style="background-color: purple;">
        <div id="input_div_id" style="position: absolute;">
            <!--- <form method="POST" action="/"> --->
                <input type="text" style="margin-top: 300px; margin-left:430px; width:600px; height:auto; display:inline-block;" placeholder="Search.." name="search" id="example-search-input" class="form-control border rounded-pill">
                <button type="submit" id="submit_button" class="btn btn-light" style="width:100px; margin-left:10px">Submit</button>
           <!---  </form> --->
        </div>
    </body>
    <script>

    $( "#example-search-input" ).on( "click", function() {
        this.value = "";
    });
    $("#submit_button").on("click", function() {
        var val = document.getElementById("example-search-input").value
        $("#input_div_id").animate({top: '-250px'});
        $.ajax({
            type: "POST",
            url: "/",
            data: {movie: val},
            success: function(response){
                var movies_dictionary = (response.movies).replace(/':/g,"'':").replace(/, '/g, ", ''").replace(/{'/g, "{''").replace(/: '/, ": ''").replace(/'}/, 
                "''}").replace(/:'/, ":''")
                alert(movies_dictionary)
                movies_dictionary = JSON.parse(movies_dictionary)
                var movies = {}
                var movie_string_key = ""
                var movie_url_value = ""
                for(var i=0, j; i < response.movies.length; i++){
                    if ("{}:".indexOf(response.movies[i]) > -1)
                        alert(j)
                }
            }
        });
    });
    </script>
    </body>
</html>